.jumbotron {
    background-image: url("/Users/apple/Desktop/Desktop/openclassrooms/P5/JWDP5/images/jumbo.jpg");
    background-size: cover;
    border-radius: 0%;

  }

  .p-5 {
    padding: 5rem!important;
}

* {
    margin: O;
    padding: O;
}


/*-----------Header--------------*/

.container-fluid {
  width: 90%;
}

.panier {
  color: white;
  margin-right: 20px;
  border: white 2px solid;
  padding: 4px;
  padding-right: 7px;
  border-radius: 8px;
}

.fa-cart-plus:before {
    color: white;
    font-size: 16px;
}


.qty-count {
  color: white;
  margin: 6px;
  font-size: 16px;
}

/*----------Container-----------*/

.row {
  margin-bottom: 35px;
}

.card {
  margin-bottom: 20px;
}

.product-card {
  color: #25292F;
}

.card-title {
  color: brown;
}

.price {
  color: brown;
}

/*----------PAGE PANIER --------------*/


.thumbnail{
  margin-right: 20px;
}

.row{
  justify-content: space-around;
}

.ajout-btn {
  display: block;
}

select {
  width: 200px;
  margin-left: 20px;
}

label {
  margin-left: 20px;
}

.fiche-price {
  margin-left: 20px;
}


a {
  color: brown;
}


/*----------FORMULAIRE PANIER----------*/

#orderForm{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 40px;
  background-color: #CCB69B;
}

form {
  display: flex;
  flex-direction: column;
}

h2{
  align-items: center;
  text-align: center;
}

.header-table {
  padding-left: 0px;
  padding-right: 0px;

}

.media-body {
  max-width: 650px;
}

.qty-header {
  width: 316px;
}

.total-footer {
  width: 269px;
}

.product-header {
  vertical-align: top;
  border-top: 2px solid #dee2e6;
}

.product-header {
  vertical-align: top;
  border-top: 2px solid #dee2e6;
}

.table thead th {
  /* vertical-align: top; */
  border-top: 2px solid #dee2e6;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: 0;
  border-top: 0cm; 
}
